$brandColor: hsl(187, 95%, 40%);
$brandColorShift: hsl(187, 94%, 35%);
$textDark: hsl(0, 0%, 0%);
$textLight: #fff;
$background: #f1ffe3;
$backgroundLight: #888;
$shadowLight: #999;
$primaryFont: 20px !important;

@mixin displayObject {
	width: 200px;
	height: 50px;
	margin: 10px;
	padding: 8px;
	font-size: 18px;
	border: $brandColor 1px solid;
	box-shadow: 2px 2px 2px $shadowLight;
}

@mixin customBackground {
	background: linear-gradient(-45deg, $brandColorShift, $brandColor, $brandColorShift);
}
@mixin customBackground1 {
	background: linear-gradient(-45deg, $brandColorShift, $brandColor, $brandColorShift) !important;
	color: $textLight !important;
}

@mixin customBackground2 {
	background: linear-gradient(-45deg, $brandColor, $brandColorShift, $brandColor) !important;
	color: $textLight !important;
}
