
$primary: hsl(187, 95%, 40%);
//$primary: rgb(27, 87, 136);
$link: $primary;
$link-visited: $primary;


$text: $primary,10;
$text-strong: $text,10;

/*
$text-light: $grey;
*/

$white-ter: #000000;
/** bulma variable */
$background: #fff;
$navbar-background-color: #fff;
$body-background-color: #fff;

