@charset "utf-8";
@use 'config' as *;
//@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/base/_all";
@import "../node_modules/bulma/sass/elements/_all";
//@import "../node_modules/bulma/sass/form/_all";

//TODO: extract
//@import "../node_modules/bulma/sass/components/_all";
@import "../node_modules/bulma/sass/components/menu";
@import "../node_modules/bulma/sass/components/navbar";
@import "../node_modules/bulma/sass/components/message";


@import "../node_modules/bulma/sass/grid/_all";

//fixme: move helpers to svelte components
//and only import the ones used
@import "../node_modules/bulma/sass/helpers/_all";

//@import "../node_modules/bulma/sass/layout/_all";
@import "../node_modules/bulma/sass/layout/hero";
@import "../node_modules/bulma/sass/layout/section";

html {
	.hero.is-primary {
		@include customBackground;
	}
	button.is-primary {
		@include customBackground;
	}
}
/*
.navbar {
	&-dropdown {
		@extend .navbar;
	}
	&-start,
	&-menu.is-active {
		background: transparent !important;
		color: $textLight !important;
	}
	&-menu {
		a.navbar-link {
			color: $textLight !important;
		}
	}
	a.navbar-item, a.navbar-link  {
		color: $textLight !important;
		&:hover {
			@include customBackground2;
		}
	}
}
*/
.register {
	background-color: $background !important;
}
.message.is-primary .message-body {
	border-color: $brandColor !important;
	color: $brandColor !important;
	background-color: $backgroundLight !important;
}
#const {
	color: $textDark !important;
}
.button.is-link {
	&:hover,
	&:active {
		background-color: $brandColor;
	}
}
.dropMessage,
.title {
	color: $textDark;
}
.button {
	border-color: $brandColor;
	color: $brandColor;
	&:hover {
		background-color: $brandColor;
		color: $background;
	}
}
input:focus {
	border-color: $brandColor !important;
}
/** imprint and terms **/
.message {
	word-break: break-all;
	&-header {
		background-color: $brandColor !important;
	}
	&-body {
		background: linear-gradient(-45deg, $brandColorShift, $brandColor);
	}
}
