@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
:root {
	--brandColor: hsl(187, 95%, 40%);
	--textDark: hsl(0, 0%, 0%);
	--textLight: hsl(0, 4%, 20%);
	--background: hsl(0, 0%, 100%);
	--backgroundLight: hsl(0, 0%, 90%);
}

html,
body,
main {
	background-color: var(--backgroundLight) !important;
}

.box {
	background-color: var(--background) !important;
}

.register {
	background-color: var(--background) !important;
}

.message.is-primary .message-body {
	border-color: var(--textLight) !important;
	color: var(--textLight) !important;
	background-color: var(--backgroundLight) !important;
}

#const {
	color: var(--brandColor) !important;
}

.button.is-link,
.button.is-link:hover,
.button.is-link:active {
	background-color: var(--brandColor);
}

.objects {
	display: inline-block;
	background-color: var(--brandColor);
	border: var(--brandColor) 1px solid;
	color: var(--background);
	width: 200px;
	height: 50px;
	margin: 10px;
	padding: 8px;
	font-size: 18px;
	text-align: center;
	box-shadow: 2px 2px 2px #999;
	cursor: move;
}

.dropMessage {
	color: var(--textDark);
}