:root {
	--brandColor: hsl(187, 95%, 40%);
	--brandColorLight: hsl(187, 94%, 35%);
	--textDark: hsl(0, 0%, 0%);
	--textLight: #F1FFE3;
	--background: #fff;
	--backgroundLight: #888;
}

html .hero.is-primary{
	background: linear-gradient(-45deg, var(--brandColorLight), var(--brandColor));
}
html .hero.is-primary .title,html .hero.is-primary .subtitle {
	color: var(--textLight)
}

html {
	font-size: 27px !important;
}

.register {
	background-color: var(--background) !important;
}

.message.is-primary .message-body {
	border-color: var(--brandColor) !important;
	color: var(--brandColor) !important;
	background-color: var(--backgroundLight) !important;
}

#const {
	color: var(--textDark) !important;
}

.button.is-link,
.button.is-link:hover,
.button.is-link:active {
	background-color: var(--brandColor);
}

.objects {
	display: inline-block;
	background-color: var(--brandColor);
	border: var(--brandColor) 1px solid;
	color: var(--background);
	width: 200px;
	height: 50px;
	margin: 10px;
	padding: 8px;
	font-size: 18px;
	text-align: center;
	box-shadow: 2px 2px 2px #999;
	cursor: move;
}

.dropMessage {
	color: var(--textDark);
}

.button {
  border-color: var(--brandColor);
  color: var(--brandColor);
}
.button:hover {
  background-color: var(--brandColor);
  color: var(--background);
}

input:focus {
	border-color: var(--brandColor) !important;
}
.title {
	color: var(--textDark);
}
.subtitle {
	color: var(--textLight);
}


/** imprint and terms **/
.message{
	word-break: break-all;
}
.message-body {
	background-color: var(--background) !important;
	color: var(--brandColor) !important;
}
.message-header {
	background-color: var(--brandColor) !important;
}
